<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/output.css' />
  </head>
  <body class="w-screen h-screen flex items-center justify-center bg-gray-100">
    <div id="app" class="w-10/12 md:w-8/12 lg:w-6/12 xl:w-5/12 bg-white rounded shadow-xl overflow-hidden flex flex-col justify-center items-center space-y-5 p-5">
    {{{body}}}
    </div>
  </body>
</html>
